<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.sketchpunk.virt3dmouse"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>

    <application
        android:name="com.sketchpunk.shared.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="true">

        <activity
            android:name=".activities.ControlActivity"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".activities.PairListActivity"
            android:label="Virtual 3D Mouse">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>

</manifest>
